<!DOCTYPE html>
<html ng-app="Storm">
<head>
    <title>Storm - Bug Tracker</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script type="text/javascript" src="/javascripts/angular.min.js"></script>
    <script type="text/javascript" src="/javascripts/lib/angular-cookies.js"></script>

    <link rel="stylesheet" type="text/css" href="/stylesheets/foundation/css/foundation.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/storm.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,300,400,600' rel='stylesheet' type='text/css'>

    <script type="text/javascript" src="/javascripts/storm.js"></script>

</head>
<body ng-controller="StormController" style="background: url('/images/login_bg.jpg') fixed;" ng-cloak>

    <div class="container">

        <div class="modal_backdrop" ng-show="LOADING.show"></div>
        <div class="modal_loading" ng-show="LOADING.show">
            <div class="row">
                <div class="small-4 column">
                    <img src="/images/storm.png" class="loading_icon">
                </div>
                <div class="small-8 column">
                    <div class="loading_text">Loading...</div>
                </div>
            </div>
        </div>

        <div class="login_container" ng-hide="LOGIN.signed_in">
            <div class="homepage_logo_container">
                <img src="/images/kraika.png" class="homepage_logo">
                <span class="title">STORM<span class="thin"> By KRAIKA</span></span>
            </div>

            <div class="login_box">
                <div class="row">
                    <div class="small-12 column">

                        <span class="right">
                            <img src="/images/storm.png" class="login_logo">
                            <h4>Storm</h4>
                        </span>
                    </div>

                    <form name="FormLogin">
                        <div class="small-12 column">
                            <input type="text" placeholder="Email Address" required ng-model="LOGIN.username">
                        </div>
                        <div class="small-12 column">
                            <input type="password" placeholder="Password" required ng-model="LOGIN.password">
                        </div>
                    </form>

                    <div class="small-12 column">
                        <button class="small radius small-12 success btn_login" ng-disabled="FormLogin.$invalid" ng-click="login()">Login</button>
                    </div>

                    <div class="small-12 column">
                        <span class="need_account">Need an account? Get in touch at sales@kraika.io</span>
                    </div>
                </div>
            </div>
        </div>


        <div ng-show="LOGIN.signed_in" class="signed_in_container">
            <header class="row">
                <div class="small-12 column">
                    <img src="images/storm.png" class="logo">

                    <h4>Storm</h4>


                    <span class="right">
                        <span class="company">{{company}}</span>
                        <a href="javascript:void(0);" ng-click="logout()" class="logout">Logout</a>
                    </span>
                </div>
            </header>

            <div class="row" ng-show="ACTIVE_SECTION == 'all_bugs'">
                <div class="small-6 column">
                    <h3>All Issues</h3>
                </div>

                <div class="small-6 column">
                    <button class="btn tiny right" ng-click="show_report_screen()">Report An Issue</button>
                </div>

                <div class="small-6 medium-2 column count_box">
                    <div class="count">{{status_counts.open}}</div>
                    <div class="status">Open</div>
                </div>

                <div class="small-6 medium-2 column count_box">
                    <div class="count">{{status_counts.as_expected}}</div>
                    <div class="status">As Expected</div>
                </div>

                <div class="small-6 medium-2 column count_box">
                    <div class="count">{{status_counts.closed}}</div>
                    <div class="status">Closed</div>
                </div>

                <div class="small-6 medium-2 column count_box">
                    <div class="count">{{status_counts.regular}}</div>
                    <div class="status">Regular</div>
                </div>

                <div class="small-6 medium-2 column count_box">
                    <div class="count">{{status_counts.major}}</div>
                    <div class="status">Major</div>
                </div>

                <div class="small-6 medium-2 column count_box">
                    <div class="count">{{status_counts.enhancement}}</div>
                    <div class="status">Enhancement</div>
                </div>

                <div class="small-12 column">
                    <table class="table">
                        <tr>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th>
                                <select ng-model="q.priority">
                                    <option value=""></option>
                                    <option value="major">Major</option>
                                    <option value="regular">Regular</option>
                                    <option value="minor">Minor</option>
                                    <option value="enhancement">Enhancement</option>
                                </select>
                            </th>
                            <th>
                                <select ng-model="q.status">
                                    <option value=""></option>
                                    <option value="open">Open</option>
                                    <option value="closed">Closed</option>
                                    <option value="as_expected">As Expected</option>
                                </select>
                            </th>
                            <th></th>
                        </tr>
                        <tr>
                            <th>Sl</th>
                            <th>Bug</th>
                            <th>Title</th>
                            <th>Priority</th>
                            <th>Status</th>
                            <th>Date</th>
                            <th ng-if="is_admin">Company</th>
                        </tr>
                        <tr ng-repeat="(key, bug) in all_bugs | filter:q">
                            <td>{{key + 1}}</td>
                            <td><a href="javascript:void(0);" ng-click="get_bug(bug.id)">{{bug.id}}</a></td>
                            <td>{{bug.name}}</td>
                            <td>{{bug.priority}}</td>
                            <td>{{bug.status}}</td>
                            <td>{{bug.dca | date_pretty}}</td>
                            <td ng-if="is_admin">{{bug.company}}</td>
                        </tr>

                        <tr ng-show="all_bugs.length === 0">
                            <td colspan="6">Looks like you don't have any issues</td>
                            <td ng-if="is_admin"></td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="row" ng-show="ACTIVE_SECTION == 'view_bug'">
                <div class="small-12 column">
                    <div class="row">
                        <div class="small-6 column">
                            <h3 ng-hide="current_bug.id">Report Issue</h3>
                            <h3 ng-if="current_bug.id">Issue: #{{current_bug.id}}</h3>
                        </div>

                        <div class="small-6 column">
                            <span class="right">
                                <button class="btn tiny secondary" ng-click="show_all_bugs()">Close</button>

                                <button class="btn tiny secondary" ng-show="is_admin && current_bug.id && current_bug.status == 'open'" ng-click="mark_as_expected()">Mark As Expected</button>
                                <button class="btn tiny success" ng-show="is_admin && current_bug.id && current_bug.status == 'open'" ng-click="mark_resolved()">Mark as Resolved</button>
                                <button class="btn tiny" ng-disabled="FormBug.$invalid" ng-hide="current_bug.id" ng-click="report_bug()">Report Issue</button>
                            </span>
                        </div>
                    </div>

                </div>

                <div class="small-12 column">
                    <form name="FormBug">
                        <table class="table">
                            <tr>
                                <td>Issue</td>
                                <td><input type="text" ng-model="current_bug.name" required ng-disabled="current_bug.id"></td>
                            </tr>
                            <tr>
                                <td>Priority</td>
                                <td>
                                    <select ng-model="current_bug.priority" ng-disabled="current_bug.id">
                                        <option value="major">Major</option>
                                        <option value="regular">Regular</option>
                                        <option value="minor">Minor</option>
                                        <option value="enhancement">Enhancement</option>
                                    </select>
                                </td>
                            </tr>

                            <tr ng-show="current_bug.id">
                                <td>Reported On</td>
                                <td>{{current_bug.dca | date_pretty}}</td>
                            </tr>

                            <tr>
                                <td>Status</td>
                                <td>{{current_bug.status}}</td>
                            </tr>

                            <tr>
                                <td>Description</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <textarea class="bug_desc" ng-model="current_bug.desc" required ng-disabled="current_bug.id"></textarea>
                                </td>
                            </tr>
                        </table>
                    </form>

                    <div class="row" ng-if="current_bug.id">
                        <div class="small-12 column">
                            <h4>Comments</h4>
                        </div>

                        <div class="small-12 column">
                            <textarea ng-model="COMMENT.comment"></textarea>
                        </div>

                        <div class="small-12 column">
                            <button class="tiny right" ng-click="add_comment()">Add Comment</button>
                        </div>

                        <div class="small-12 column comment" ng-repeat="(key, comment) in current_bug.comments">
                            <div class="comment_message">{{comment.comment}}</div>
                            <div class="comment_username">{{comment.name}} - {{comment.dca | date_pretty}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>